@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #1a1b21;
  --background: #faf8ff;
  --primary: #2e4074;
  --secondary: #3d4255;
  --accent: #42a7ff;
  --container-background: #ffffff;
  --secondary-container: #e8e7ef;
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #dddee4;
    --background: #121318;
    --primary: #8a9cd0;
    --secondary: #a9aec1;
    --accent: #0065bd;
    --container-background: #1e1f25;
    --secondary-container: #34343a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
